body{
  font-family: 'Noto Sans', sans-serif;
  margin:0;
  width:100%;
  height:100px;
  background-image: url('ThemeSite.jpg');
}
header{
  width:100%; 
  background:#1d1f20; 
  height:70px; 
  line-height:60px;
  color: white;
  font-weight: 900;
  font-size: 35px;  
  text-shadow: 5px 1px green;
  opacity: 0.95;
  margin-bottom: auto;
}

.hamburger{
  background:none;
  position:absolute;
  top:0;
  right:0;
  line-height:45px;
  padding:5px 15px 0px 15px;
  color:#fff;
  border:0;
  font-size:1.4em;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.cross{
  background:none;
  position:absolute;
  top:0px;
  right:0;
  padding:13px 15px 0px 15px;
  color:#fff;
  border:0;
  font-size:3em;
  line-height:65px;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.menu{
  z-index:1000000; 
  font-weight:bold; 
  font-size:0.8em; 
  width:100%; 
  background:#131313;  
  position:absolute; 
  text-align:center;
}
.menu ul {
  margin: 0; 
  padding: 0; 
  list-style-type: none; 
  list-style-image: none;
}
.menu li {
  display: block;   
  padding:15px 0 15px 0; 
  border-bottom:#1d1f20 1px solid;
}
.menu li:hover{
  display: block;    
  background:green; 
  padding:15px 0 15px 0; 
  border-bottom:#1d1f20 1px solid;
}
.menu ul li a { 
  text-decoration:none;  
  margin: 0px; 
  color:#fff;
}
.menu ul li a:hover {  
  color: #fff; 
  text-decoration:none;
}
.menu a{
  text-decoration:none; 
  color:white;
}
.menu a:hover{
  text-decoration:none; 
  color:white;
}

.glyphicon-home{
  color:white; 
  font-size:1.5em; 
  margin-top:5px; 
  margin:0 auto;
}

.contenu   {
  opacity: 0.95;
  margin-right:auto;
  margin-left:auto;
  margin-top: auto;
  margin-bottom: auto;
  width:70%;
  height:650px;
  background-color:#1d1f20;
  border-radius: 20px;
  }

.news  {
    
  color: white;
  font-weight: 900;
  font-size: 35px;  
  text-align: center;
  }

.realmadrid{

 color: white;
  font-weight: 900;
  font-size: 35px;  
  text-align: center;
  


}

.keylor{

  border-radius: 50%;
  border: 3px  solid green ;
  
}

.carvajal{

border-radius: 50%;
  border: 3px  solid green ;
}

.pepe{

border-radius: 50%;
  border: 3px  solid green ;
}

.ramos{

border-radius: 50%;
  border: 3px  solid green ;
}

.varane{

border-radius: 50%;
  border: 3px  solid green ;
}

.nacho{

border-radius: 50%;
  border: 3px  solid green ;
}

.cristiano{

border-radius: 50%;
  border: 3px  solid green ;
}

.kroos{

border-radius: 50%;
  border: 3px  solid green ;
}

.benzema{

border-radius: 50%;
  border: 3px  solid green ;
}

.james{

border-radius: 50%;
  border: 3px  solid green ;
}

.bale{

border-radius: 50%;
  border: 3px  solid green ;
}

.zidane{

border-radius: 50%;
  border: 3px  solid green ;
}

.keylor:hover{

  border-radius: 50%;
  opacity: 0.7;
  filter: blur(2px);




  
}

.pieddepage p {
  opacity: 0.95;
  margin-right: auto;
  margin-left:auto;
  width:100%;
  height:50px;
  background-color:#1d1f20;

  }

